<ion-view view-title="My Favorite Recipes">
  <ion-content ng-controller="favoritesController">

  <div class="card list" ng-init="getFavorites()">
    <div class="item center" show-delete="shouldShowDelete" ng-repeat="recipe in favorite_recipes">

      <a  class="this subdued item-thumbnail-left"
          href="/#/app/recipes/{{recipe.body.id}}">
        <img ng-src="{{recipe.body.image}}" alt="{{recipe.body.title}}">
        <h2 class="recipe-list">{{recipe.body.title}}</h2>
      </a>
      <br>
      <button class="button button-clear button-assertive" ng-click="deleteFavorite(recipe)">
        <i class="delete-button ion-minus-circled "> </i>
      </button>

    </div>
  </div>

  </ion-content>
</ion-view>
