<ion-view view-title="My Favorite Recipes">
  <ion-content ng-controller="favoritesController">
    <h1 class="page-title">My Favorite Recipes</h1>
    <ion-list ng-init="getFavorites()" show-delete="shouldShowDelete">
      Userid: {{user.id}}
      <ion-item ng-repeat="recipe in favorite_recipes">
        <img ng-src="{{recipe.body.images[0]}}" alt="{{recipe.body.title}}" height="150px">
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        {{recipe.body.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
