<ion-view view-title="My Favorite Recipes">
  <ion-content ng-controller="favoritesController">
    <h1 class="page-title">My Favorite Recipes</h1>
    {{ message }}
    <button class="ion-minus-circled" ng-click="deleteFavorite()"></button>
    <ion-list ng-init="getFavorites()" show-delete="shouldShowDelete">
      <ion-item ng-repeat="recipe in favorite_recipes">
        <button class="ion-minus-circled" ng-click="deleteFavorite(recipe)"></button>
        <a href="/#/app/recipes/{{recipe.body.id}}"><img ng-src="{{recipe.body.images[0]}}" alt="{{recipe.body.title}}" height="150px"></a>
        {{recipe.body.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
