<ion-view ng-controller="listController"> 
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="addItem()"><i class="ion-plus-circled"> </i>Add</button>
    <button class="button button-clear button-assertive" ng-click="data.showDelete = !data.showDelete"><i class="ion-minus-circled"> </i>Delete</button>
  </ion-nav-buttons>
  <ion-content>

  	<ion-list show-delete="data.showDelete">
  		<ion-item ng-repeat="item in items"> {{ item.name }}
  		<ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
  		</ion-delete-button>
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>