<ion-view view-title="Results" align-title="center" ng-controller="recipeController">
	<ion-content>
		<div class="list">
			<a class="item item-thumbnail-left"
				href="#/app/recipes/{{recipe.id}}"
				ng-repeat="recipe in recipes"
				ng-click="getRecipe({{recipe.id}})">
				<img ng-src="{{recipe.image}}">
				<h2 class="recipe-list"> {{ recipe.title }} </h2>
				<p> Used Ingredients: {{ recipe.usedIngredientCount}}<p>
				<p> Missed Ingredients: {{ recipe.missedIngredientCount}}<p>
				</a>
		</div>
	<ion-content>
</ion-view>
