<ion-view view-title="">
	<ion-content>
		<div class="list card">
		  <div class="center">
		    <h1 class="recipe-header">{{recipe.title}}</h1>
  		    <p class="button fav-button " ng-click="favoriteRouter(recipe)">
  		    	<i class="icon-left ion-heart fav-icon" ng-class="{favorited: favorited}"></i>
  		    	<span class="center"></span>
  		    </p>
		  </div>
		  <div class="item item-image">
		    <img ng-src="{{recipe.image}}">
		  </div>

		  <a class="center item item-icon-left item-icon-right assertive" href="#/app/recipes/{{recipe.id}}/instructions" ng-click="getInstructions()">
		    <i class="icon ion-fork"></i>
		    <span> Get Detailed Instructions </span>
		    <i class="icon ion-knife"></i>
		  </a>

		  <div class="item item-body">
    		<p class="center">
	    		Ready in: {{recipe.readyInMinutes}} minutes <br>
	    		Servings: {{recipe.servings}}<br><br>
    		</p>
    		<p>
    			<div class="center ingredient-header"> Ingredients </div>
    			<br>
	    		<ul>
	    			<li class="center text-size" ng-repeat="ingredient in recipe.extendedIngredients">
						{{ingredient.amount | number : fractionSize}} {{ingredient.unitLong}} {{ingredient.name}}
	    			</li>
	    		</ul>
	    		<br>
	    	</p>
	  		<div class="center ingredient-header"> Basic Instructions </div>
    		<p ng-bind-html="recipe.instructions"></p>
    	</div>
		</div>
	</ion-content>
</ion-view>
