<ion-view view-title="Register">
<br><br>
<div class="alert alert-danger" role="alert" ng-show="error">
  {{error}}
</div>
<div class="list list-inset">

    <form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}">

    <div class="form-group">
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input placeholder="Email" type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
        </label>
    </div>

    <div class="form-group">
        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input placeholder="Password" type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
        </label>
    </div>

    <div class="form-group">
        <label class="item item-input item-floating-label">
            <span class="input-label">Password Confirmation</span>
            <input placeholder="Password Confirmation" type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
        </label>
    </div>
    <br>
    <div class="center">
        <button type="submit" class="button button-large button-energized">Register</button>
    </div>

  </form>
</div>
</ion-view>