/* Empty. Add your own CSS if you like */
h2.recipe-list{
	white-space: normal;
	height: 3.6em;
}

.center{
     text-align:center;
}

.text-size {
	font-size: .8em;
}

.ingredient-header{
	text-decoration: underline;
	font-size: 1.2em;
	white-space: normal;

}